#contacto-form{
    text-align: center;
    margin: 60px 30px 60px 30px;
}

#contacto-form-left h2{
    margin-bottom: 60px;
}

#contacto-form-left h4{
    text-align: left;
    font-size: 20px;
    color: #ccc;
    margin-bottom: 30px;
}

.icon{
    text-align: left;
    font-size: 16px;
    color: #727b86;
    margin-bottom: 30px;
}
.icon li{
    margin-bottom: 20px;
}
.icon li a{
    margin-right: 10px;
}
.icon li a img{
    width: 20px;
}

.tel-2{
    margin-left: 35px;
}

.icon-social{
    display: flex;
}
.icon-social li a{
    margin-right: 20px;
}
.icon-social li a img{
    width: 20px;
}

#contacto-form-right h2{
    visibility: hidden;
}

#contacto-form-right form{
    text-align: left;
    font-size: 16px;
    color: #777777;
    margin-bottom: 14px;
    margin-top: -10px;
}

#contacto-form-right form input{
    width: 100%;
    height: 60px;
    padding: 0 20px;
    background-color: var(--color-gray-dark);
    border: solid 2px;
    border-radius: 5px;
    border-color: var(--color-gray-dark-2);
    text-align: left;
    font-size: 16px;
    color: #777777;
    margin-bottom: 25px;
    margin-top: 10px;
    font-family: "Poppins-Regular";   
}

#contacto-form-right form textarea{
    width: 100%;
    padding: 20px 20px;
    background-color: var(--color-gray-dark);
    border: solid 2px;
    border-radius: 5px;
    border-color: var(--color-gray-dark-2);
    text-align: left;
    font-size: 16px;
    color: #777777;
    margin-bottom: 25px;
    margin-top: 10px;
    font-family: "Poppins-Regular";   
}

#contacto-form-right form .btn-primary{
    margin: 0;
    display: block;
    text-align: center;
    width: 200px;
    text-decoration: none;
    border: 2px solid;
    border-radius: 5px; 
    border-color: var(--color-primary-dark);
    background-color: var(--color-primary-dark);
    font-size: 16px;
    font-weight: bold;
    color: black;
    transition: all 0.3s;
} 
#contacto-form-right form .btn-primary:hover{
    border: 2px solid;
    border-color: var(--color-primary-dark);
    background-color: var(--color-gray-dark);
    color:white;
    cursor: pointer;
}


/* ----- MediaS ----- */

@media only screen and (min-width: 992px){ /*en pantallas de 992px de ancho o más*/

    #contacto-form{
        display: flex;
        max-width: 1200px;
        margin: 100px auto;
    }
    
    #contacto-form-left{
        flex: 30%;
        text-align: left;
        margin: 60px 0 0 20px;
    }

    #contacto-form-left h2{
        margin-bottom: 0;
        visibility: hidden;
    }    

    #contacto-form-right{
        flex: 70%;
        text-align: left;
        margin: 0 20px;
    }

    #contacto-form-right h2{
        visibility: visible;
        margin-bottom: 60px;
        font-size: 40px;
        width: fit-content;
    }

}