#footer{
    text-align: center;
    margin: 80px 30px 20px 30px;
}

.icon-footer{
    display: flex;
    margin: 30px 0;
    justify-content: center;
}
.icon-footer li{
    margin-right: 10px;
}
.icon-footer li a{
    padding: 20px;
    border-radius: 50%; 
    background-color: var(--color-gray);  
}
.icon-footer li a img{
    width: 20px;
    margin-bottom: -4px;
}

#footer div{
    display: inline-block;
    color: white;
    margin-top: 60px;
}

#footer div img{
   width: 30px;
   margin-right: 20px;
}

/* ----- MediaS ----- */

@media only screen and (min-width: 992px){ /*en pantallas de 992px de ancho o más*/

    #footer{
        max-width: 1200px;
        margin: 80px auto 20px auto;
    }

}