#marcos{
    margin: 60px 30px;
}

#marcos-left h2{
    text-align: center;
    padding-bottom: 20px;
}

#marcos-right p{
    text-align: left;
}

#marcos-right .btn-outline{
    text-align: center;
    margin: 40px auto 40px auto;
}



/* ----- MediaS ----- */

@media only screen and (min-width: 992px){ /*en pantallas de 992px de ancho o más*/
    
    #marcos{
        display: flex;
        max-width: 1200px;
        margin: 0 auto;
    }
    
    #marcos-left{
        flex: 50%;
        background-image: url("/img/sobre-mi.png");
        background-repeat: no-repeat;
        background-position: center;
    }

    #marcos-left h2{
        font-size: 40px;
        width: fit-content;
        margin: 50% auto;       
    }

    #marcos-right{
        flex: 50%;
        text-align: left;
        margin: 100px 20px 100px 0; 
    }

    #marcos-right .btn-outline{
        display: inline-block;
        margin: 40px 20px 40px 0px;
        text-align: center;       
    }
    
}

